@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
};

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

